@model IEnumerable<Labb2_EF.Models.JoinModels.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.StudentFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.TeacherFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classes.ClassName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.StudentFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.TeacherFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classes.ClassName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnrollmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
