@model IEnumerable<Labb2_EF.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>School Lab2_EF</h1>
<p>Here you can edit properties for course like name and description</p>
<p>
    <a class="Example-btn7 bg-info" asp-action="Create">Add new course</a>
    <a class="Example-btn7" asp-area="" asp-controller="Task" asp-action="Index">Back to task Lab2_EF</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
