@model IEnumerable<Labb2_EF.Models.JoinModels.Enrollment>

@{
    ViewData["Title"] = "GetStudentTeachersCourse";
}
<h2>School Lab2_EF</h2>
<p>You will see students and teachers for selected course.</p>
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group mb-4">
                @Html.DropDownList("selectedCourse", ViewBag.FK_CourseId as SelectList, "Labb2_EF course list", new { @class = "form-control", onchange = "this.form.submit();" })
            </div>
            <a class="Example-btn7" asp-area=""
               asp-controller="Task" asp-action="Index">Back to tasks</a>
        </form>
    </div>
</div>

<br />
@if (!Model.Any())
{
    <p>Please select a course to see the teacher.</p>
}
else
{
    <h3>Search Results</h3>
    <div class="bg-white bg-opacity-50 rounded">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(Model => Model.Students.StudentFullName)</th>
                <th>@Html.DisplayNameFor(Model => Model.Teachers.TeacherFullName)</th>
                <th>@Html.DisplayNameFor(Model => Model.Courses.CourseName)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Students.StudentFullName</td>
                    <td>@item.Teachers.TeacherFullName</td>
                    <td>@item.Courses.CourseName</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}