@model IEnumerable<Labb2_EF.Models.JoinModels.TeacherCourse>

@{
    ViewData["Title"] = "GetTeacherCourse";
}

<h2>Select course from list</h2>
<p>You will see teachers and description for selected course.</p>
<div class="row">
    <div class="col-md-4">
<form asp-action="GetTeacherCourse" method="get">
    <div class="form-group">
                @Html.DropDownList("searchCourse", ViewBag.FK_CourseId as SelectList, "Labb2_EF course list", new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
</form>
    </div>
</div>
<br />
<br />
@if (!Model.Any())
{
    <p>Please select a course to see the teacher.</p>
}
else
{
    <h3>Search Results</h3>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Courses.CourseName)</th>
                <th>@Html.DisplayNameFor(model => model.Teachers.TeacherFullName)</th>
                <th>@Html.DisplayNameFor(model => model.Courses.CourseDescription)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacherCourse in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => teacherCourse.Courses.CourseName)</td>
                    <td>@Html.DisplayFor(model => teacherCourse.Teachers.TeacherFullName)</td>
                    <td>@Html.DisplayFor(model => teacherCourse.Courses.CourseDescription)</td>
                </tr>
            }
        </tbody>
    </table>
}

